# Gradle files
.gradle/
build/
app/build/

# Local configuration
local.properties

# IntelliJ / Android Studio
.idea/
*.iml

# Logs
*.log

# Mac / Windows
.DS_Store
Thumbs.db

# Android Studio caches
.navigation/
caches/
